<launch>

<include file="$(find navvis_description)/launch/display.launch" >
<arg name="use_xacro" value="true" />
<arg name="file" value="$(find new_navvis_description)/urdf/new_navvis.xacro" />
<arg name="use_gui" value="true" />
<arg name="use_robot_state_publisher" value="true" />
</include>

</launch>
